.top-bar {
    background-color: #008080; /* Teal color for the top bar */
    color: #fff; /* Text color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
     top: 0; /* Place the top bar at the top of the viewport */
    left: 0; /* Align the top bar with the left edge */
    right: 0; /* Fixed position to keep it at the top */
    width: 100%; /* Full width */
    z-index: 1000;
}

.contact-info {
    font-size: 14px;
    font-weight: bolder;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

/* Responsive adjustments for the top bar */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .contact-info {
        margin-bottom: 10px;
    }

    .icons {
        margin-top: 10px;
    }
}



/* Your existing media query for responsive design */


/*navbar*/

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Decorated Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008080; /* Teal color for healthcare */
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 2px solid #005555; /* Darker teal border at the bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add relative positioning */
    z-index: 2;
    padding: 50px 10px 2px;
    height: 10%; /* Set the width of the navbar as a percentage */
    margin: 0 auto;
    position: sticky; /* Make the navbar sticky */
    top: 0;
}

.navbar-logo img {
    height: 40px; /* Adjust logo height as needed */
    margin-bottom: 10px;
    
}


.main-menu {
    display: flex;
    list-style: none;
    max-width: 100%;
    flex-wrap:wrap;
}

.arrow{
    margin-top: 5.2px;
}
.main-menu li {
    margin-right: 20px;
    position: relative;
    white-space: nowrap;
    flex: 1;
    max-width: calc(100% - 20px);
}

.main-menu li a{
    position: relative; /* Add relative positioning for animation */
    text-decoration: none; /* Remove default underline */
    color: #fff;
     padding-right: 20px;
     justify-content: space-between;
     transition: background-color 0.3s, transform 0.3s;
}
.main-menu li a::before {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the position to control the underline appearance */
    left: 0;
    width: 50%; /* Start with half width */
    height: 2px;
    background-color: #ffcc00; /* Initial color of the animated bar */
    transition: width 0.3s ease, background-color 0.3s ease; /* Add smooth transitions */
    transform-origin: 0 50%; /* Set the origin to left for scaling effect */
    transform: scaleX(0); /* Initially scale the underline to zero width */
}

.navbar-menu .active {
    color: palegreen; /* Change color for the active menu item */
}

.main-menu li a:hover::before {
    width: 100%; /* Expand the bar to full width on hover */
    background-color: #ffcc00; /* Change background color on hover */
    transform: scaleX(1); /* Scale the underline to full width */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Add smooth transitions */
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 16px; /* Slightly larger font size */
    font-weight: bold; /* Bold text */
}
.arrow {
    
  position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
    opacity: 1; /* Hide arrow icon by default */
    transition: opacity 0.3s;
}

.submenu:hover .arrow {
    opacity: 0; /* Show arrow icon on submenu hover */
}
.main-menu a:hover {
    color: #ffcc00;
}

/* Submenu Styles */
.submenu .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    border-top: 2px solid #008080; /* Teal border at the top */
}

.submenu:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin: 8px 0;
    padding: 5px 0; 
    white-space: nowrap;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s, opacity 0.3s;
}

/* Content Section Styles (No changes from previous code) */


/* Content Section Styles */
.content {
    margin-top: 70px;
    padding: 20px;
}


/* Media Query for Responsive Design */
@media (max-width: 1072px) {
    .navbar {
        margin-top: 20px; /* Add margin to create space below the top bar on smaller screens */
    }

    .main-menu {
        margin-top: 30px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


    }
    .main-menu li a .arrow {
        display: inline; /* Show arrow icon in smaller screens */
    }
    .submenu .sub-menu {
/*        position: static; /* Reset submenu positioning */*/
        display: none;
        /*background-color: #333;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: auto;
        border-top: 2px solid #008080; 
        margin-left: 20px;*//* Teal border at the top */
    }

    .submenu:hover .sub-menu {
        position: static;
        display: block;
        background-color: #333;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: auto;
        border-top: 2px solid #008080; 
        margin-left: 20px; /* Hide sub-menu items when submenu is not hovered */
    }

    .main-menu.active {
        display: flex;
    }

    .main-menu li {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block;
    }

    .bar:first-child.active {
        transform: translateY(7px) rotate(45deg);
    }

    .bar:nth-child(2).active {
        opacity: 0;
    }

    .bar:last-child.active {
        transform: translateY(-7px) rotate(-45deg);
    }
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
     z-index: 1;
}
/* Style the slider */
.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    flex: 0 0 100%;
    position: relative;
     background-size: 100% 100%;;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    overflow: hidden;/* Set the height to 100% of the viewport height */
}
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust the size as needed */
    height: 100%;
    background-color: rgba(0, 128, 128, 0.5); /* Translucent blue color */
    clip-path: ellipse(50% 50% at 50% 0%);
    z-index: 1;
}

/* Add translucent green element */
.slide::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; /* Place on the right side */
    width: 50%; /* Adjust the size as needed */
    height: 100%;
background-color: rgba(255, 182, 193, 0.5);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    z-index: 1; /* Ensure translucent element is above background image */
}


.slide-content {
    background-color: transparent; /* Make the background transparent */
    padding: 20px;
    border-radius: 5px;
    margin-top: 200px;
    z-index: 2;
}

.slide h2 {
    font-size: 56px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(30) 1s forwards;
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    color: #FF1493; /* Pink color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: -250px;
    margin-right: 120px;
}

/* Add typewriting animation to p */
.slide p {
    font-size: 18px; /* Larger font size */
    margin: 10px 0;
    color: #008080; /* Teal blue color */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px;
    white-space: nowrap;
    animation: typewriter 4s steps(40) 2s forwards;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.slide button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}


/* Arrows Styles */
.prev-slide,
.next-slide {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev-slide {
    left: 10px;
    transform: translateY(-50%);
}

.next-slide {
    right: 10px;
    transform: translateY(-50%);
}

/* Slider Dots Styles */
.slider-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #999;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: teal;
}

@media (max-width: 768px) {
    .slide {
        height: 50vh; /* Adjust slide height for small screens */
    }

    .slide-content {
        margin-top: 0; /* Remove negative margin for small screens */
    }
    .slide h2 {
        top: 10px; /* Adjust the top position for small screens */
    }

    /* Adjust font sizes for small screens */
    .slide h2 {
        font-size: 20px;
        margin-left: -120px;
    }

    .slide p {
        font-size: 16px;
    }
}

.image-section {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border: 2px solid pink;
            padding: 20px;
            border-radius: 10px;
        }

        .image-section img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            margin-right: 20px;
            border-radius: 50%;
        }

        .content {
            margin-top: -50px;
            flex: 1;
        }

        .scrollable {
            max-height: 200px;
            overflow-y: auto;
            margin-bottom: 10px;
        }

        .read-more-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .read-more-btn:hover {
            background-color: #45a049;
        }
         @media (max-width: 768px) {
            .image-section {
                flex-direction: row;
                text-align: center;

            }

            .image-section img {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                height: 100px;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        .social-stickers {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

.social-button {
    background-color: teal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-button i {
    font-size: 20px;
}

.social-button:hover {
    background-color: #007bff;
    transform: scale(1.1);
}

.contact-section {
margin-top: 10px;
    background-color: teal;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-details {
    flex: 1;
}

.contact-details h2,
.social-links h2 {
    font-size: 34px;
    color: #333;
}

.contact-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-details li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.contact-details i,
.social-icon i {
    margin-right: 10px;
    font-size: 18px;
    color: #007BFF;
}

.social-links {
    top: 20px;
    flex: 1;
    text-align: right;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #007BFF;
    text-decoration: none;
}

.social-icon:hover {
    color: #0056b3;
}

/*Transforming Lives*/
 .scrolling-section {
        /* Adjust the height as needed */
            position: relative;
            margin-top: 20px;
            width: 100%;
            height: auto; /* Allow content to expand vertically */
            overflow-x: scroll; /* Enable horizontal scrolling */
            white-space: nowrap;

        }

        .box {
            width: 300px; /* Adjust the box width as needed */
            margin: 20px;
            padding: 20px;
            background-color: #f5f5f5;
            display: inline-block;
            vertical-align: top;
            max-height: 200px;
            white-space: wrap;
        }

        .box img {
            max-width: 100%;
            height: auto;
        }

        .box h2 {
            font-size: 18px;
            margin-bottom: 10px;
            position: relative;
            white-space: wrap;
        }

        .box h2::after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: #007bff; /* Adjust the underline color as needed */
            position: absolute;
            bottom: 0;
            left: 0;
            white-space: wrap;
        }

        .box p {
            font-size: 14px;
            word-wrap: break-word;
        }

        /* Animation */
        .scrolling-section .box {
            animation: scroll 20s linear infinite;
        }

        @keyframes scroll {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }